﻿<%@ Page Title=":)" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="PrivatePolicy.aspx.cs" Inherits="TemplateWebApplication.Account.PrivatePolicy" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="privacy" >
        <p>
            There is no security system.<br /> You are not safe.
        </p>
    </div>
    
</asp:Content>
