﻿<%@ Page Title="Homepage" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Homepage.aspx.cs" Inherits="TemplateWebApplication.Homepage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

</asp:Content>
