﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CookieHelper.aspx.cs" Inherits="TemplateWebApplication.Utilities.Helper.CookieHelper" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>
