﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
        background-color: palegreen;
    }

    .button {
        background-color: lightyellow;
    }

    .rainbow1 {
        background-color: red;
    }

    .rainbow2 {
        padding-bottom: 40px;
        background-color: lawngreen;
    }

    .rainbow3 {
        padding-bottom: 60px;
        background-color: dodgerblue;
    }

    .privacy {
        margin-top: 20px;
        background-color: deepskyblue;
    }

    .backside {
        background-color: darkgray;
    }

    .body-content {
        padding: 0;
    }
}
